In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\Users\faiza\Documents\Python-Learning\Python_Notes\Datasets\titanic.csv")
df

CONDITIONAL FILTERING

In [ ]:
df.drop(columns=[ "survived", "pclass","sibsp", "embarked", "who","parch"], inplace=True)

In [ ]:
df

In [ ]:
# to find missing values
df.isna().sum()

In [ ]:
df['age'].fillna(df.age.mean(), inplace = True)

In [ ]:
df.embark_town.mode()[0]  # you have to insert 0 in brackets when finding mode()

In [ ]:
df['embark_town'].fillna(df.embark_town.mode()[0], inplace = True)

ffill and bfill Method in fillna()

In [ ]:
df['deck'].fillna(method = 'ffill', inplace= True)

In [ ]:
print(df.to_string())

In [ ]:
df['deck'].fillna(method = 'bfill', inplace= True)

PIVOT TABLES

In [ ]:
df.pivot_table(index = 'sex', columns = 'class', values = 'fare', aggfunc= 'sum')

In [ ]:
# how many males and females were in first, second and third class?
df.pivot_table(index = 'sex', columns = 'class', values = 'fare', aggfunc= 'count')

In [ ]:
df.embark_town.unique()

In [ ]:
# minimum age in first,second and third class

df.pivot_table(index = 'sex', columns = 'class', values = 'age', aggfunc= 'min')

In [ ]:
#how many people were traveling from which town and in which class?
df.pivot_table(index = 'embark_town', columns = 'class', values = 'fare', aggfunc= 'count')

In [ ]:
# How many male and female were alive
df.pivot_table(index = 'sex', columns = 'alive', values = 'alone', aggfunc= 'count')

In [ ]:
# find the sum of fare of emabark_town according to the class

df.pivot_table(index = 'embark_town', columns = 'class', values = 'fare', aggfunc= 'sum')

LOCATE METHOD

In [ ]:
df.loc[0:20:2]     # [row slicing, columns]

In [ ]:
print(df.loc[5: 50: 1].to_string())

In [ ]:
df.loc[5:100:5 , ['fare','class','sex']]

In [ ]:
# whose fare was less than 10 and traveled on third class

df.loc[(df['fare']<10)  & (df['sex'] == 'female')]

iLOCATE FUNCTION

In [ ]:
df.iloc[5:10, 0:3:2]                # ilocate only locate through indexing for columns as well

In [ ]:
df

In [ ]:
df.iloc[5:10, -1:-4:-1]   
# we can do -ve indexing, if we want last columns appeared.it will show one column behind like we ddo in  slicing
#  but we must insert the step when do the -ve indexing

In [ ]:
df.iloc[5:10, [0, 4]]  # if we want specific column like 1st and 3rd

MAKE NEW COLUMNS WITH LOCATE

In [ ]:
# TO MAKE NEW COLUMNS WITH LOCATE
# we want to divide people in different age categories. 
# less than = child
# greater than 18 = adult
# graeter than 50 = elder

# this can be also called conditional filtering as we set conditions when making a new column

In [ ]:
df.loc[(df['age'] <=18) , ['age_category']] ='child'

In [ ]:
df[df['age_category'] == 'child']

In [ ]:
df.loc[(df['age'] > 18) & (df['age'] <= 50 ), ['age_category']] = 'adult'

In [ ]:
df.loc[df['age'] > 50 , ['age_category']] = 'elder'

In [ ]:
df[df['age_category'] == 'adult']

In [ ]:
df.age_category.value_counts()

In [ ]:
# it sorts the values accordingly to the specified column in aseceding or descending order
# if you use property   ascending = True , values will be shown in ascending order
#                    if ascending = False , values will be shown in descending order

In [ ]:
df.sort_values(by = 'age', ascending = True) #ascending = False , values will be shown in descending order

In [ ]:
df.sort_index(ascending= False)

GROUP DATA

In [ ]:
# Group data by 'class' and calulate the mean age for each class

In [ ]:
# First Step

class_group = df.groupby(by = 'class')

In [ ]:
# 2nd Step is
# to check the output of groupby() if it is working , we will use get_group()

class_group.get_group('First')

In [ ]:
class_group['fare'].mean()

In [ ]:
class_group['fare'].get_group('First').mean()

In [ ]:
class_group['age'].mean()

In [ ]:
class_group['age'].get_group('First').mean()

In [ ]:
# on the basis of age_category
age_group = df.groupby(by = 'age_category')

In [ ]:
age_group.get_group('child')

In [ ]:
# we want to find out how many males or how many females in which class, so we can use two columns

In [ ]:
# data will be shown on the basis of two groups

sex_class_group = df.groupby(by = ['sex', 'class'])  # we have to pass the list

In [ ]:
sex_class_group.get_group(('female', 'Third'))  # in get_group() we have to pass tuple, not list

In [ ]:
em_group = df.groupby(by = 'embark_town')

In [ ]:
em_group.get_group('Southampton')

In [ ]:
len(em_group.get_group('Southampton')) # you can use len() if don't want to see in the whole table

ANOTHER METHOD USING GROUPBY

In [ ]:
df.groupby('class')

In [ ]:
df.groupby('class').age.mean()

In [ ]:
df.groupby(['class', 'sex']).age.mean()

MAKING NEW COLUMNS ; ANOTHER METHOD

In [ ]:
# Create a new column 'fare_per_age', which is the fare divided by age
df['fare_per_age'] =  df['fare']/df['age']
df['fare_per_age']

In [ ]:
# create a now column 'fare_category', which categorize the fare low, medium and high on bases of quartile
df['fare'].max()

In [ ]:
df.fare.max()

In [ ]:
# to convert values in upper case using one of the string method

df['sex'] = df['sex'].str.upper()
df

In [ ]:
# to convert values in lower case using one of the string method

df['embark_town'] = df['embark_town'].str.lower()
df

In [ ]:
#if you want only first 4 letters
df['embark_town'] = df['embark_town'].str[0:4]
df

APPLY FUNCTION

apply function is function that uses another function inside it. There's no need of using parnathesis inside the apply function. You can use it anywhere

In [ ]:
#Example of round()

x = 5.6
round(x)

In [ ]:
df['age']= df['age'].apply(round)
df

In [ ]:
df['fare'] = df['fare'].apply(round)

In [ ]:
df

In [ ]:
df['class'] = df['class'].apply(str.upper)

In [ ]:
# if you want to make a new column that give you even and odd according to age

In [ ]:
x = lambda n: n % 2 == 0

In [ ]:
df['age_even_odd']= df['age'].apply(lambda n : n % 2 == 0)
df

In [ ]:
del df['age_even_odd']

In [ ]:
def age_category(n):
    if n <= 18:
        return "Child"
    elif n > 18 and n <= 50:
        return "Adult"
    else:
        return "Elder"

In [ ]:
age_category(51)

In [ ]:
df['age_category'] = df['age'].apply(age_category)
df

In [ ]:
# to find out the category, we will just check by using condition

In [ ]:
df[df['age'] < 18]

In [ ]:
df[(df['age'] > 18) & (df['age'] <= 50)]

In [177]:
#to check duplicate values
df.duplicated().sum()

np.int64(0)

In [176]:
df.drop_duplicates(inplace= True)

TO CHANGE DATA TYPE

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 852 entries, 0 to 890
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sex           852 non-null    object
 1   age           852 non-null    int64
 2   fare          852 non-null    int64
 3   class         852 non-null    object
 4   adult_male    852 non-null    bool
 5   deck          852 non-null    object
 6   embark_town   852 non-null    object
 7   alive         852 non-null    object
 8   alone         852 non-null    bool
 9   age_category  852 non-null    object
 10  fare_per_age  852 non-null    float64
dtypes: bool(2), float64(1), int64(2), object(6)
memory usage: 68.2+ KB

In [ ]:
#to convert integer type into float

In [183]:
df['fare'] = df['fare'].astype(dtype='float')

In [184]:
df.isna().sum()

sex             0
age             0
fare            0
class           0
adult_male      0
deck            0
embark_town     0
alive           0
alone           0
age_category    0
fare_per_age    0
dtype: int64

In [186]:
df.to_csv('formatted_titanic_dataset.csv')