In [ ]:
import numpy as np

import pandas as pd

In [ ]:
titanic_df = pd.read_csv(r"C:\Users\faiza\Documents\Python-Learning\Python_Notes\Datasets\titanic.csv")

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.index

In [ ]:
type(titanic_df)

In [ ]:
titanic_df.columns

In [ ]:
#how many people were on titanic?
len(titanic_df)

In [ ]:
#how much fare was collected
titanic_df.fare.sum()

In [ ]:
#what was the average fare?
titanic_df.fare.mean()

In [ ]:
#how much was the maximum fare?
titanic_df.fare.max()

In [ ]:
titanic_df.sex.count()

In [ ]:
titanic_df.sex.value_counts()

In [ ]:
titanic_df['class'].value_counts()

In [ ]:
titanic_df.embark_town.value_counts()
#x = titanic_df.embark_town.value_counts()

In [ ]:
#x.index

In [ ]:
#x.values

In [55]:
titanic_df.sex.value_counts()

sex
male      577
female    314
Name: count, dtype: int64

In [ ]:
titanic_df['class'].value_counts()

In [54]:
titanic_df.sex.value_counts()/len(titanic_df) * 100  # percentage of males and females in the ship

sex
male      64.758698
female    35.241302
Name: count, dtype: float64

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.describe()

In [53]:
titanic_df.head()

      sex   age     fare  class  embark_town alive
0    male  22.0   7.2500  Third  Southampton    no
1  female  38.0  71.2833  First    Cherbourg   yes
2  female  26.0   7.9250  Third  Southampton   yes
3  female  35.0  53.1000  First  Southampton   yes
4    male  35.0   8.0500  Third  Southampton    no

In [ ]:
titanic_df.drop(columns= ["survived", "pclass","sibsp", "embarked", "who","deck","parch", "adult_male","alone"],inplace =True)

In [37]:
titanic_df

        sex   age     fare   class  embark_town alive
0      male  22.0   7.2500   Third  Southampton    no
1    female  38.0  71.2833   First    Cherbourg   yes
2    female  26.0   7.9250   Third  Southampton   yes
3    female  35.0  53.1000   First  Southampton   yes
4      male  35.0   8.0500   Third  Southampton    no
..      ...   ...      ...     ...          ...   ...
886    male  27.0  13.0000  Second  Southampton    no
887  female  19.0  30.0000   First  Southampton   yes
888  female   NaN  23.4500   Third  Southampton    no
889    male  26.0  30.0000   First    Cherbourg   yes
890    male  32.0   7.7500   Third   Queenstown    no

[891 rows x 6 columns]

In [38]:
# how to make a new column

titanic_df['age_fare_sum'] = titanic_df['age']+titanic_df['fare']

In [39]:
titanic_df

        sex   age     fare   class  embark_town alive  age_fare_sum
0      male  22.0   7.2500   Third  Southampton    no       29.2500
1    female  38.0  71.2833   First    Cherbourg   yes      109.2833
2    female  26.0   7.9250   Third  Southampton   yes       33.9250
3    female  35.0  53.1000   First  Southampton   yes       88.1000
4      male  35.0   8.0500   Third  Southampton    no       43.0500
..      ...   ...      ...     ...          ...   ...           ...
886    male  27.0  13.0000  Second  Southampton    no       40.0000
887  female  19.0  30.0000   First  Southampton   yes       49.0000
888  female   NaN  23.4500   Third  Southampton    no           NaN
889    male  26.0  30.0000   First    Cherbourg   yes       56.0000
890    male  32.0   7.7500   Third   Queenstown    no       39.7500

[891 rows x 7 columns]

In [ ]:
# Export Data File
# titanic_df.to_clipboard                   # ctrl +c   you can paste anywhere

In [41]:
titanic_df.to_csv('titanic_new.csv')

In [ ]:
print(titanic_df.to_string()) # if we want to check whole dataframe

        sex    age      fare   class  embark_town alive  age_fare_sum
0      male  22.00    7.2500   Third  Southampton    no       29.2500
1    female  38.00   71.2833   First    Cherbourg   yes      109.2833
2    female  26.00    7.9250   Third  Southampton   yes       33.9250
3    female  35.00   53.1000   First  Southampton   yes       88.1000
4      male  35.00    8.0500   Third  Southampton    no       43.0500
5      male    NaN    8.4583   Third   Queenstown    no           NaN
6      male  54.00   51.8625   First  Southampton    no      105.8625
7      male   2.00   21.0750   Third  Southampton    no       23.0750
8    female  27.00   11.1333   Third  Southampton   yes       38.1333
9    female  14.00   30.0708  Second    Cherbourg   yes       44.0708
10   female   4.00   16.7000   Third  Southampton   yes       20.7000
11   female  58.00   26.5500   First  Southampton   yes       84.5500
12     male  20.00    8.0500   Third  Southampton    no       28.0500
13     male  39.00   31.2750   Third  Southampton    no       70.2750
14   female  14.00    7.8542   Third  Southampton    no       21.8542
15   female  55.00   16.0000  Second  Southampton   yes       71.0000
16     male   2.00   29.1250   Third   Queenstown    no       31.1250
17     male    NaN   13.0000  Second  Southampton   yes           NaN
18   female  31.00   18.0000   Third  Southampton    no       49.0000
19   female    NaN    7.2250   Third    Cherbourg   yes           NaN
20     male  35.00   26.0000  Second  Southampton    no       61.0000
21     male  34.00   13.0000  Second  Southampton   yes       47.0000
22   female  15.00    8.0292   Third   Queenstown   yes       23.0292
23     male  28.00   35.5000   First  Southampton   yes       63.5000
24   female   8.00   21.0750   Third  Southampton    no       29.0750
25   female  38.00   31.3875   Third  Southampton   yes       69.3875
26     male    NaN    7.2250   Third    Cherbourg    no           NaN
27     male  19.00  263.0000   First  Southampton    no      282.0000
28   female    NaN    7.8792   Third   Queenstown   yes           NaN
29     male    NaN    7.8958   Third  Southampton    no           NaN
30     male  40.00   27.7208   First    Cherbourg    no       67.7208
31   female    NaN  146.5208   First    Cherbourg   yes           NaN
32   female    NaN    7.7500   Third   Queenstown   yes           NaN
33     male  66.00   10.5000  Second  Southampton    no       76.5000
34     male  28.00   82.1708   First    Cherbourg    no      110.1708
35     male  42.00   52.0000   First  Southampton    no       94.0000
36     male    NaN    7.2292   Third    Cherbourg   yes           NaN
37     male  21.00    8.0500   Third  Southampton    no       29.0500
38   female  18.00   18.0000   Third  Southampton    no       36.0000
39   female  14.00   11.2417   Third    Cherbourg   yes       25.2417
40   female  40.00    9.4750   Third  Southampton    no       49.4750
41   female  27.00   21.0000  Second  Southampton    no       48.0000
42     male    NaN    7.8958   Third    Cherbourg    no           NaN
43   female   3.00   41.5792  Second    Cherbourg   yes       44.5792
44   female  19.00    7.8792   Third   Queenstown   yes       26.8792
45     male    NaN    8.0500   Third  Southampton    no           NaN
46     male    NaN   15.5000   Third   Queenstown    no           NaN
47   female    NaN    7.7500   Third   Queenstown   yes           NaN
48     male    NaN   21.6792   Third    Cherbourg    no           NaN
49   female  18.00   17.8000   Third  Southampton    no       35.8000
50     male   7.00   39.6875   Third  Southampton    no       46.6875
51     male  21.00    7.8000   Third  Southampton    no       28.8000
52   female  49.00   76.7292   First    Cherbourg   yes      125.7292
53   female  29.00   26.0000  Second  Southampton   yes       55.0000
54     male  65.00   61.9792   First    Cherbourg    no      126.9792
55     male    NaN   35.5000   First  Southampton   yes           NaN
56   female  21.00   10.5000  Second  Southampton   yes       31.5000
57     male  28.50    7.2292   Third    Cherbourg    no       35.7292
58   female   5.00   27.7500  Second  Southampton   yes       32.7500
59     male  11.00   46.9000   Third  Southampton    no       57.9000
60     male  22.00    7.2292   Third    Cherbourg    no       29.2292
61   female  38.00   80.0000   First          NaN   yes      118.0000
62     male  45.00   83.4750   First  Southampton    no      128.4750
63     male   4.00   27.9000   Third  Southampton    no       31.9000
64     male    NaN   27.7208   First    Cherbourg    no           NaN
65     male    NaN   15.2458   Third    Cherbourg   yes           NaN
66   female  29.00   10.5000  Second  Southampton   yes       39.5000
67     male  19.00    8.1583   Third  Southampton    no       27.1583
68   female  17.00    7.9250   Third  Southampton   yes       24.9250
69     male  26.00    8.6625   Third  Southampton    no       34.6625
70     male  32.00   10.5000  Second  Southampton    no       42.5000
71   female  16.00   46.9000   Third  Southampton    no       62.9000
72     male  21.00   73.5000  Second  Southampton    no       94.5000
73     male  26.00   14.4542   Third    Cherbourg    no       40.4542
74     male  32.00   56.4958   Third  Southampton   yes       88.4958
75     male  25.00    7.6500   Third  Southampton    no       32.6500
76     male    NaN    7.8958   Third  Southampton    no           NaN
77     male    NaN    8.0500   Third  Southampton    no           NaN
78     male   0.83   29.0000  Second  Southampton   yes       29.8300
79   female  30.00   12.4750   Third  Southampton   yes       42.4750
80     male  22.00    9.0000   Third  Southampton    no       31.0000
81     male  29.00    9.5000   Third  Southampton   yes       38.5000
82   female    NaN    7.7875   Third   Queenstown   yes           NaN
83     male  28.00   47.1000   First  Southampton    no       75.1000
84   female  17.00   10.5000  Second  Southampton   yes       27.5000
85   female  33.00   15.8500   Third  Southampton   yes       48.8500
86     male  16.00   34.3750   Third  Southampton    no       50.3750
87     male    NaN    8.0500   Third  Southampton    no           NaN
88   female  23.00  263.0000   First  Southampton   yes      286.0000
89     male  24.00    8.0500   Third  Southampton    no       32.0500
90     male  29.00    8.0500   Third  Southampton    no       37.0500
91     male  20.00    7.8542   Third  Southampton    no       27.8542
92     male  46.00   61.1750   First  Southampton    no      107.1750
93     male  26.00   20.5750   Third  Southampton    no       46.5750
94     male  59.00    7.2500   Third  Southampton    no       66.2500
95     male    NaN    8.0500   Third  Southampton    no           NaN
96     male  71.00   34.6542   First    Cherbourg    no      105.6542
97     male  23.00   63.3583   First    Cherbourg   yes       86.3583
98   female  34.00   23.0000  Second  Southampton   yes       57.0000
99     male  34.00   26.0000  Second  Southampton    no       60.0000
100  female  28.00    7.8958   Third  Southampton    no       35.8958
101    male    NaN    7.8958   Third  Southampton    no           NaN
102    male  21.00   77.2875   First  Southampton    no       98.2875
103    male  33.00    8.6542   Third  Southampton    no       41.6542
104    male  37.00    7.9250   Third  Southampton    no       44.9250
105    male  28.00    7.8958   Third  Southampton    no       35.8958
106  female  21.00    7.6500   Third  Southampton   yes       28.6500
107    male    NaN    7.7750   Third  Southampton   yes           NaN
108    male  38.00    7.8958   Third  Southampton    no       45.8958
109  female    NaN   24.1500   Third   Queenstown   yes           NaN
110    male  47.00   52.0000   First  Southampton    no       99.0000
111  female  14.50   14.4542   Third    Cherbourg    no       28.9542
112    male  22.00    8.0500   Third  Southampton    no       30.0500
113  female  20.00    9.8250   Third  Southampton    no       29.8250
114  female  17.00   14.4583   Third    Cherbourg    no       31.4583
115    male  21.00    7.9250   Third  Southampton    no       28.9250
116    male  70.50    7.7500   Third   Queenstown    no       78.2500
117    male  29.00   21.0000  Second  Southampton    no       50.0000
118    male  24.00  247.5208   First    Cherbourg    no      271.5208
119  female   2.00   31.2750   Third  Southampton    no       33.2750
120    male  21.00   73.5000  Second  Southampton    no       94.5000
121    male    NaN    8.0500   Third  Southampton    no           NaN
122    male  32.50   30.0708  Second    Cherbourg    no       62.5708
123  female  32.50   13.0000  Second  Southampton   yes       45.5000
124    male  54.00   77.2875   First  Southampton    no      131.2875
125    male  12.00   11.2417   Third    Cherbourg   yes       23.2417
126    male    NaN    7.7500   Third   Queenstown    no           NaN
127    male  24.00    7.1417   Third  Southampton   yes       31.1417
128  female    NaN   22.3583   Third    Cherbourg   yes           NaN
129    male  45.00    6.9750   Third  Southampton    no       51.9750
130    male  33.00    7.8958   Third    Cherbourg    no       40.8958
131    male  20.00    7.0500   Third  Southampton    no       27.0500
132  female  47.00   14.5000   Third  Southampton    no       61.5000
133  female  29.00   26.0000  Second  Southampton   yes       55.0000
134    male  25.00   13.0000  Second  Southampton    no       38.0000
135    male  23.00   15.0458  Second    Cherbourg    no       38.0458
136  female  19.00   26.2833   First  Southampton   yes       45.2833
137    male  37.00   53.1000   First  Southampton    no       90.1000
138    male  16.00    9.2167   Third  Southampton    no       25.2167
139    male  24.00   79.2000   First    Cherbourg    no      103.2000
140  female    NaN   15.2458   Third    Cherbourg    no           NaN
141  female  22.00    7.7500   Third  Southampton   yes       29.7500
142  female  24.00   15.8500   Third  Southampton   yes       39.8500
143    male  19.00    6.7500   Third   Queenstown    no       25.7500
144    male  18.00   11.5000  Second  Southampton    no       29.5000
145    male  19.00   36.7500  Second  Southampton    no       55.7500
146    male  27.00    7.7958   Third  Southampton   yes       34.7958
147  female   9.00   34.3750   Third  Southampton    no       43.3750
148    male  36.50   26.0000  Second  Southampton    no       62.5000
149    male  42.00   13.0000  Second  Southampton    no       55.0000
150    male  51.00   12.5250  Second  Southampton    no       63.5250
151  female  22.00   66.6000   First  Southampton   yes       88.6000
152    male  55.50    8.0500   Third  Southampton    no       63.5500
153    male  40.50   14.5000   Third  Southampton    no       55.0000
154    male    NaN    7.3125   Third  Southampton    no           NaN
155    male  51.00   61.3792   First    Cherbourg    no      112.3792
156  female  16.00    7.7333   Third   Queenstown   yes       23.7333
157    male  30.00    8.0500   Third  Southampton    no       38.0500
158    male    NaN    8.6625   Third  Southampton    no           NaN
159    male    NaN   69.5500   Third  Southampton    no           NaN
160    male  44.00   16.1000   Third  Southampton    no       60.1000
161  female  40.00   15.7500  Second  Southampton   yes       55.7500
162    male  26.00    7.7750   Third  Southampton    no       33.7750
163    male  17.00    8.6625   Third  Southampton    no       25.6625
164    male   1.00   39.6875   Third  Southampton    no       40.6875
165    male   9.00   20.5250   Third  Southampton   yes       29.5250
166  female    NaN   55.0000   First  Southampton   yes           NaN
167  female  45.00   27.9000   Third  Southampton    no       72.9000
168    male    NaN   25.9250   First  Southampton    no           NaN
169    male  28.00   56.4958   Third  Southampton    no       84.4958
170    male  61.00   33.5000   First  Southampton    no       94.5000
171    male   4.00   29.1250   Third   Queenstown    no       33.1250
172  female   1.00   11.1333   Third  Southampton   yes       12.1333
173    male  21.00    7.9250   Third  Southampton    no       28.9250
174    male  56.00   30.6958   First    Cherbourg    no       86.6958
175    male  18.00    7.8542   Third  Southampton    no       25.8542
176    male    NaN   25.4667   Third  Southampton    no           NaN
177  female  50.00   28.7125   First    Cherbourg    no       78.7125
178    male  30.00   13.0000  Second  Southampton    no       43.0000
179    male  36.00    0.0000   Third  Southampton    no       36.0000
180  female    NaN   69.5500   Third  Southampton    no           NaN
181    male    NaN   15.0500  Second    Cherbourg    no           NaN
182    male   9.00   31.3875   Third  Southampton    no       40.3875
183    male   1.00   39.0000  Second  Southampton   yes       40.0000
184  female   4.00   22.0250   Third  Southampton   yes       26.0250
185    male    NaN   50.0000   First  Southampton    no           NaN
186  female    NaN   15.5000   Third   Queenstown   yes           NaN
187    male  45.00   26.5500   First  Southampton   yes       71.5500
188    male  40.00   15.5000   Third   Queenstown    no       55.5000
189    male  36.00    7.8958   Third  Southampton    no       43.8958
190  female  32.00   13.0000  Second  Southampton   yes       45.0000
191    male  19.00   13.0000  Second  Southampton    no       32.0000
192  female  19.00    7.8542   Third  Southampton   yes       26.8542
193    male   3.00   26.0000  Second  Southampton   yes       29.0000
194  female  44.00   27.7208   First    Cherbourg   yes       71.7208
195  female  58.00  146.5208   First    Cherbourg   yes      204.5208
196    male    NaN    7.7500   Third   Queenstown    no           NaN
197    male  42.00    8.4042   Third  Southampton    no       50.4042
198  female    NaN    7.7500   Third   Queenstown   yes           NaN
199  female  24.00   13.0000  Second  Southampton    no       37.0000
200    male  28.00    9.5000   Third  Southampton    no       37.5000
201    male    NaN   69.5500   Third  Southampton    no           NaN
202    male  34.00    6.4958   Third  Southampton    no       40.4958
203    male  45.50    7.2250   Third    Cherbourg    no       52.7250
204    male  18.00    8.0500   Third  Southampton   yes       26.0500
205  female   2.00   10.4625   Third  Southampton    no       12.4625
206    male  32.00   15.8500   Third  Southampton    no       47.8500
207    male  26.00   18.7875   Third    Cherbourg   yes       44.7875
208  female  16.00    7.7500   Third   Queenstown   yes       23.7500
209    male  40.00   31.0000   First    Cherbourg   yes       71.0000
210    male  24.00    7.0500   Third  Southampton    no       31.0500
211  female  35.00   21.0000  Second  Southampton   yes       56.0000
212    male  22.00    7.2500   Third  Southampton    no       29.2500
213    male  30.00   13.0000  Second  Southampton    no       43.0000
214    male    NaN    7.7500   Third   Queenstown    no           NaN
215  female  31.00  113.2750   First    Cherbourg   yes      144.2750
216  female  27.00    7.9250   Third  Southampton   yes       34.9250
217    male  42.00   27.0000  Second  Southampton    no       69.0000
218  female  32.00   76.2917   First    Cherbourg   yes      108.2917
219    male  30.00   10.5000  Second  Southampton    no       40.5000
220    male  16.00    8.0500   Third  Southampton   yes       24.0500
221    male  27.00   13.0000  Second  Southampton    no       40.0000
222    male  51.00    8.0500   Third  Southampton    no       59.0500
223    male    NaN    7.8958   Third  Southampton    no           NaN
224    male  38.00   90.0000   First  Southampton   yes      128.0000
225    male  22.00    9.3500   Third  Southampton    no       31.3500
226    male  19.00   10.5000  Second  Southampton   yes       29.5000
227    male  20.50    7.2500   Third  Southampton    no       27.7500
228    male  18.00   13.0000  Second  Southampton    no       31.0000
229  female    NaN   25.4667   Third  Southampton    no           NaN
230  female  35.00   83.4750   First  Southampton   yes      118.4750
231    male  29.00    7.7750   Third  Southampton    no       36.7750
232    male  59.00   13.5000  Second  Southampton    no       72.5000
233  female   5.00   31.3875   Third  Southampton   yes       36.3875
234    male  24.00   10.5000  Second  Southampton    no       34.5000
235  female    NaN    7.5500   Third  Southampton    no           NaN
236    male  44.00   26.0000  Second  Southampton    no       70.0000
237  female   8.00   26.2500  Second  Southampton   yes       34.2500
238    male  19.00   10.5000  Second  Southampton    no       29.5000
239    male  33.00   12.2750  Second  Southampton    no       45.2750
240  female    NaN   14.4542   Third    Cherbourg    no           NaN
241  female    NaN   15.5000   Third   Queenstown   yes           NaN
242    male  29.00   10.5000  Second  Southampton    no       39.5000
243    male  22.00    7.1250   Third  Southampton    no       29.1250
244    male  30.00    7.2250   Third    Cherbourg    no       37.2250
245    male  44.00   90.0000   First   Queenstown    no      134.0000
246  female  25.00    7.7750   Third  Southampton    no       32.7750
247  female  24.00   14.5000  Second  Southampton   yes       38.5000
248    male  37.00   52.5542   First  Southampton   yes       89.5542
249    male  54.00   26.0000  Second  Southampton    no       80.0000
250    male    NaN    7.2500   Third  Southampton    no           NaN
251  female  29.00   10.4625   Third  Southampton    no       39.4625
252    male  62.00   26.5500   First  Southampton    no       88.5500
253    male  30.00   16.1000   Third  Southampton    no       46.1000
254  female  41.00   20.2125   Third  Southampton    no       61.2125
255  female  29.00   15.2458   Third    Cherbourg   yes       44.2458
256  female    NaN   79.2000   First    Cherbourg   yes           NaN
257  female  30.00   86.5000   First  Southampton   yes      116.5000
258  female  35.00  512.3292   First    Cherbourg   yes      547.3292
259  female  50.00   26.0000  Second  Southampton   yes       76.0000
260    male    NaN    7.7500   Third   Queenstown    no           NaN
261    male   3.00   31.3875   Third  Southampton   yes       34.3875
262    male  52.00   79.6500   First  Southampton    no      131.6500
263    male  40.00    0.0000   First  Southampton    no       40.0000
264  female    NaN    7.7500   Third   Queenstown    no           NaN
265    male  36.00   10.5000  Second  Southampton    no       46.5000
266    male  16.00   39.6875   Third  Southampton    no       55.6875
267    male  25.00    7.7750   Third  Southampton   yes       32.7750
268  female  58.00  153.4625   First  Southampton   yes      211.4625
269  female  35.00  135.6333   First  Southampton   yes      170.6333
270    male    NaN   31.0000   First  Southampton    no           NaN
271    male  25.00    0.0000   Third  Southampton   yes       25.0000
272  female  41.00   19.5000  Second  Southampton   yes       60.5000
273    male  37.00   29.7000   First    Cherbourg    no       66.7000
274  female    NaN    7.7500   Third   Queenstown   yes           NaN
275  female  63.00   77.9583   First  Southampton   yes      140.9583
276  female  45.00    7.7500   Third  Southampton    no       52.7500
277    male    NaN    0.0000  Second  Southampton    no           NaN
278    male   7.00   29.1250   Third   Queenstown    no       36.1250
279  female  35.00   20.2500   Third  Southampton   yes       55.2500
280    male  65.00    7.7500   Third   Queenstown    no       72.7500
281    male  28.00    7.8542   Third  Southampton    no       35.8542
282    male  16.00    9.5000   Third  Southampton    no       25.5000
283    male  19.00    8.0500   Third  Southampton   yes       27.0500

In [43]:
del titanic_df['age_fare_sum']

In [44]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sex          891 non-null    object
 1   age          714 non-null    float64
 2   fare         891 non-null    float64
 3   class        891 non-null    object
 4   embark_town  889 non-null    object
 5   alive        891 non-null    object
dtypes: float64(2), object(4)
memory usage: 41.9+ KB

In [45]:
# to find missing values is in data frame

titanic_df.isna().sum()

sex              0
age            177
fare             0
class            0
embark_town      2
alive            0
dtype: int64

In [46]:
titanic_df.age.mean()

np.float64(29.69911764705882)

In [50]:
titanic_df.fillna(titanic_df['age'].mean(), inplace= True)

In [51]:
titanic_df

        sex        age     fare   class  embark_town alive
0      male  22.000000   7.2500   Third  Southampton    no
1    female  38.000000  71.2833   First    Cherbourg   yes
2    female  26.000000   7.9250   Third  Southampton   yes
3    female  35.000000  53.1000   First  Southampton   yes
4      male  35.000000   8.0500   Third  Southampton    no
..      ...        ...      ...     ...          ...   ...
886    male  27.000000  13.0000  Second  Southampton    no
887  female  19.000000  30.0000   First  Southampton   yes
888  female  29.699118  23.4500   Third  Southampton    no
889    male  26.000000  30.0000   First    Cherbourg   yes
890    male  32.000000   7.7500   Third   Queenstown    no

[891 rows x 6 columns]